---
BasedOnStyle: LLVM
IndentWidth: 2
TabWidth: 2
UseTab: Never
BreakBeforeBraces: Attach
AllowShortIfStatementsOnASingleLine: false
IndentCaseLabels: false
ColumnLimit: 80
AllowShortBlocksOnASingleLine: Empty
AllowShortFunctionsOnASingleLine: Empty
PointerAlignment: Left
AllowShortIfStatementsOnASingleLine: WithoutElse